@page {
    margin: 0;
}

@media print {

    .header h4 {
        font-size: 14px;

    }

    .header p {

        font-size: 12px;
        line-height: 4px;
    }

    .body .info {
        padding-top: 15px;
        border-bottom: dotted 1px black;
    }

    .body .info > p {
        line-height: 6px;
    }

    table {
        width: 100%;
    }

    table tr th {
        text-align: left;
        font-weight: lighter;
        font-size: 12px;

    }

    .list table .thead {
        border-bottom: dotted 1px black;



    }
    .tbody td:first-child{
        padding-top: 6px;
    }

    .tbody td {

        text-align: left;
        line-height: 10px;
        font-size: 12px;
    }

    .tfoot td {
        text-align: right;
        padding-top: 5px;
        line-height: 10px;
        font-size: 12px;

    }
    .tfoot  td:last-child{
        position: relative !important;
        left:-30px;
    }

    .foot {
        padding-top: 10px;
    }

    .calcutaltion {
        border-top: dotted 1px black;
    }
    .botom{
        padding-top: 10px;
    }
    .calc{
        border-top: dotted 1px black;
    }
    .tdata td{
         text-align: right;
        padding-top: 5px;
        line-height: 10px;
        font-size: 12px;
    }
    .tdata td:first-child{
        position: relative!important;
        right:5px !important;

    }
    .tdata td:last-child{
        text-align: right;
        position: relative !important;
        left:-30px;
    }

    .tail{
        padding-top: 10px;
    }
    .thankyou{
        border-top: dotted 1px black;
        padding-top: 10px;
    }
    .thankyou p{

        text-align: center;
        line-height: 6px !important;
    }
    .print_hide{
        display: none !important;
    }
    #print-hide{
        display: none;
    }
}