/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 10px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.login-icon {
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #F0677C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #F0677C;
    color: #fff;
    padding: 10px;
    text-align: right;
}

/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F0677C;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

.user-settings-wrapper li {
    display: inline-block;
}

.user-settings-wrapper .dropdown-settings {
    width: 200px;
    padding: 10px;
}

.user-settings-wrapper .nav > li > a:hover, .user-settings-wrapper .nav > li > a:focus {
    text-decoration: none;
    background-color: #C36464 !important;
}

.user-settings-wrapper img {
    height: 64px;
    width: 64px;
    border: 1px solid #000000;
}

.user-settings-wrapper .dropdown-menu {
    margin: 0px;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.user-settings-wrapper .btn {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.user-settings-wrapper .media-heading {
    padding-top: 10px;
}

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #8c1800;
}

.menu-section .nav > li > a:hover, .menu-section .nav > li > a:focus {
    background-color: #8c1800 !important;
}

.menu-section .dropdown-menu > li > a:hover, .menu-section .dropdown-menu > li > a:focus {
    background-color: #8c1800    !important;
}

.navbar-inverse {
    background-color: #8c1800;
    border-color: transparent;
}

.navbar-toggle {
    background-color:#8c1800;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #8c1800;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*==============================================
    DASHBOARD  STYLES
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

.dashboard-div-wrapper .progress {
    height: 2px;
}

/* NOTICE BOARD */

.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.notice-board li span {
    margin-right: 10px;
    border: 1px solid #DBDBDB;
    padding: 5px;
}

.notice-board li a, li a:hover {
    text-decoration: none;
    color: #000;
}

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

/*added*/

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.small-box {
    border-radius: 10px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box > .inner {
    padding: 10px;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
    color: #f9f9f9;
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box:hover .icon {
    font-size: 95px;
}

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }

    .small-box .icon {
        display: none;
    }

    .small-box p {
        font-size: 12px;
    }

    .custom_button {
        position: relative;
        top: -10px;
    }
}

.custom_button {
    position: relative;
    top: 25px;
}

.brand-logo {
    padding-top: 5px;
    min-width: 80px;
    border-radius: 10%;
}

.branding-logo {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.rongo-icon {
    position: relative;
    height: 100px;
    top: -25px;
    border-radius: 10%;
    left: -80px;
}

.remove-icon {
    position: relative;
    left: 230px;
    top: -30px;
}

.bg-1 {
    background-color: #00c0ef !important;
}

.bg-2 {
    background-color: #00a65a !important;
}

.bg-3 {
    background-color: #f39c12 !important;
}

.bg-4 {
    background-color: #dd4b39 !important;
}

.bg-5 {
    background-color: #00c0ef !important;
}

.bg-6 {
    background-color: #00a65a !important;
}

.bg-7 {
    background-color: #f39c12 !important;
}

.bg-8 {
    background-color: #dd4b39 !important;
}

.disabled-item {
    opacity: 0.3;
    cursor: not-allowed;

}

.remove-btn {
    position: relative;
    top: 35px;
}

div .info p {
    line-height: 2px;
}


